<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ISDMXService">
                    <security mode="TransportCredentialOnly">
                        <transport clientCredentialType="Windows" />
                    </security>
                </binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://ecossdmx:8080/SDMX_WCF_Service.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISDMXService"
                contract="SdmxServiceReference.ISDMXService" name="BasicHttpBinding_ISDMXService" />
        </client>
    </system.serviceModel>
</configuration>